/* for header banner */
.filter {
    filter: brightness(70%);
}

.img-sizing {
    height: 200px;
    width: 200px;
}

.tc {
    color: #289BDE;
}

.card-body-width {
    width: 800px;
}

/* for details section */
.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.text-alignment {
    width: 606px;
    height: 546px;
    left: 800px;
    top: 2242px;
}

.elements {
    height: 806px;
    width: 1320px;
    background: #F4FAFD;
    border: 1px solid #F4FAFD;
    border-radius: 5px;
}

.img-align {
    width: 600px;
    height: 806px;
    margin-left: -100px;
    margin-right: 50px;
}

.separate-sec-coomb {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.separate-sec {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 576px) {
    .display {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 100px;
    }

    .elements {
        width: 334px;
        height: 800px;
        background: #F4FAFD;
        border: 1px solid #F4FAFD;
        border-radius: 5px;
    }

    .text-alignment {
        width: 100%;
        height: 546px;
        left: 800px;
        top: 2242px;
    }

    .image {
        width: 334px;
        height: 300px;
        margin-left: 201px;
    }

}

/* for registration section */
.background {
    display: flex;
    flex-direction: row;
    padding: 100px;
    column-gap: 100px;
    width: 1320px;
    height: 300px;
    left: 20px;
    top: 2543px;
    background: #289BDE;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-color {
    color: whitesmoke;
}

.button-color {
    color: #289BDE;
    font-weight: 800;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;

}

@media only screen and (max-width:576px) {
    .background {
        display: flex;
        flex-direction: column;
        padding: 100px;
        column-gap: 100px;
        width: 734px;
        height: 300px;
        left: 20px;
        top: 2543px;
        background: #289BDE;
        border-radius: 5px;
        margin-top: 100px;
    }
}

@media only screen and (min-width:576px) and (max-width:991px) {
    .background {
        display: flex;
        flex-direction: column;
        padding: 100px;
        column-gap: 100px;
        width: 734px;
        height: 300px;
        left: 20px;
        top: 2543px;
        background: #289BDE;
        border-radius: 5px;
        margin-top: 100px;
    }
}

/* test */
.a {
    width: 648px;
    height: 200px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 20px;
}

.b {
    display: grid;
    grid-template-columns: 1fr repeat(1, 1fr);
}

@media only screen and (max-width: 576px) {
    .a {
        width: 648px;
        height: 350px;
        border: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        margin-bottom: 20px;
    }

    .img {
        width: 100%;
        height: auto;
    }

    .b {
        display: grid;
        grid-template-columns: 2fr;
        row-gap: 100px;
    }
}

/* companies section style */
@media only screen and (max-width: 998px) {
    .company {
        display: block;
        display: none;
    }
}

@media only screen and (max-width: 1333px) {
    .company {
        display: block;
        display: none;
    }
}