/* for header banner */
.filter {
    filter: brightness(70%);
}

.img-sizing {
    height: 200px;
    width: 200px;
}

/* for details section */
.display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.text-alignment {
    width: 606px;
    height: 546px;
    left: 800px;
    top: 2242px;
}

.elements {
    height: 806px;
    width: 1320px;
    background: #F4FAFD;
    border: 1px solid #F4FAFD;
    border-radius: 5px;
}

.img-align {
    width: 600px;
    height: 806px;
    margin-left: -100px;
    margin-right: 50px;
}

.separate-sec-coomb {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
}

.separate-sec {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 576px) {
    .display {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 100px;
    }

    .elements {
        width: 334px;
        height: 800px;
        background: #F4FAFD;
        border: 1px solid #F4FAFD;
        border-radius: 5px;
    }

    .text-alignment {
        width: 100%;
        height: 546px;
        left: 800px;
        top: 2242px;
    }

    .image {
        width: 334px;
        height: 300px;
        margin-left: 201px;
    }

}